html, body {
    overflow: scroll;
}
.container {
    font-size: 95%;
}
.block {
    display: inline-block;
    vertical-align: bottom;
    margin-top: 25px;
    margin-right: 20px;
}
.stack {
    border-collapse: collapse;
    border: 1px solid var(--vscode-editorIndentGuide-background);
    background: var(--vscode-editor-background);
    table-layout: fixed;
    width: 450px;
}

table.stack td:nth-of-type(1) { width: 20px; }
table.stack td:nth-of-type(2) { width: 80px; border-right: none; }
table.stack td:nth-of-type(3) {
    width: 5px;
    border-left: none;
    cursor: col-resize;
    user-select: none;
}
table.stack td:nth-of-type(4) { width: 310px; border-right: none; }
table.stack td:nth-of-type(5) {
    width: 5px;
    border-left: none;
    cursor: col-resize;
    user-select: none;
}
table.stack td:nth-of-type(6) { width: 20px; }

.thread {
    caption-side: bottom;
}
.line {
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.line:hover {
    background: var(--vscode-editorHoverWidget-background);
}
.frame {
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    user-select: none;
}
.badge {
    pointer-events: none;
}
.module {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
    padding-left: 3px;
    padding-right: 3px;
}
.function {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
    padding-left: 3px;
    padding-right: 3px;
}
.object {
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
    text-align: center;
    user-select: none;
    vertical-align: middle;
}
.var-badge {
    display: inline-block;
    width: 20px;
    text-align: center;
    user-select: none;
}
.var-name {
    padding-left: 5px;
    color: var(--vscode-debugTokenExpression-name);
}
.var-value {
    padding-left: 10px;
    color: var(--vscode-debugTokenExpression-value);
}
